<input
  [formControl]="control"
  [type]="type"
  class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
  [placeholder]="placeholder"
  [mask]="format"
  [dropSpecialCharacters]="false"
/>

<p
  class="text-red-500"
  *ngIf=" control.touched && control.dirty && control.errors?.['pattern']"
>
  Password must be at least 8 characters long, have 1 uppercase, 1 lowercase and
  1 number.
</p>
<p
  class="text-red-500"
  *ngIf=" control.touched && control.dirty && control.errors?.['required']"
>
  Field is required
</p>
<p
  class="text-red-500"
  *ngIf="control.touched && control.dirty && control.errors?.['minlength']?.['requiredLength']"
>
  Input must be at least
  {{control.errors?.['minlength']?.['requiredLength']}}
  characters long
</p>
<p
  class="text-red-500"
  *ngIf="control.touched && control.dirty && control.errors?.['email']"
>
  Enter valid email
</p>
<p
  class="text-red-500"
  *ngIf="control.touched && control.dirty && control.errors?.['min']"
>
  Value too low
</p>
<p
  class="text-red-500"
  *ngIf=" control.touched && control.dirty && control.errors?.['max']"
>
  Value too high
</p>
<p class="text-red-500" *ngIf=" control.errors?.['noMatch']">
  Passwords do not match.
</p>
<p class="text-red-500" *ngIf=" control.errors?.['emailTaken']">
  Email already taken! Use another email.
</p>
